RewriteEngine On
# This will enable the Rewrite capabilities

RewriteCond %{SERVER_PORT} 80
# This checks to make sure the connection is not already HTTPS – port 80 indicates a non-secured HTTP conection.

RewriteRule ^(.*)$ https://www.edimburgo.ovh/$1 [R=301,L]
# This rule will redirect users from their original location to the same location but using HTTPS.
# Example: Visitors trying to access http://www.domain.com/somesubsection/ will be redirected to https://www.domain.com/somesubsection/